.awardModal{
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #fff8e2;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.mainImg{
    height: 30px;
}

.checkIcon {
    position: absolute;
    top: -10px;
    right: -10px;
}